<footer>
    <section class="my-2">
        <div class="container bg-primary py-2 px-2 rounded-lg">
            <div class="row py-3 px-3">
              <div class="col col-lg-4 px-2 col-md-6 col-sm-12 my-sm-4 col-12 my-4 text-center text-light">
                <span class="badge bg-danger rounded-circle d-flex justify-content-center align-items-center mx-auto mb-3" style="width: 50px; height: 50px;">
                  <svg class="fill-light" width="30" height="30">
                    <use xlink:href="#envelope"></use>
                  </svg> 
                </span>
                <h6>Подписывайтесь на нашу рассылку:</h6>
                <div class="input-group my-3">
                  <input type="text" class="form-control px-3" placeholder="Поиск" aria-label="Search" aria-describedby="button-addon2">
                  <button class="btn btn-light btn-rounded px-3" type="button" id="button-addon2">
                    <svg class="fill-dark" width="16" height="16">
                      <use xlink:href="#search"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="col col-lg-4 px-2 col-md-6 col-sm-12 my-sm-4 col-xs-10 my-xs-4 col-12 my-4 text-center text-light">
                <span class="badge bg-danger rounded-circle d-flex justify-content-center align-items-center mx-auto mb-3" style="width: 50px; height: 50px;">
                  <svg class="fill-light" width="30" height="30">
                    <use xlink:href="#phone"></use>
                  </svg> 
                </span>
                <h6>Позвоните нам:</h6>
                <div class="dropdown mt-3">
                  <a class="btn-link dropdown-toggle font-weight-bolder text-light" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                    (067) 566-66-66
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="tel:+380675664045">(067) 566-66-66</a></li>
                    <li><a class="dropdown-item" href="tel:+380985664045">(098) 566-66-66</a></li>
                    <li><a class="dropdown-item" href="tel:+380505664045">(050) 566-66-66</a></li>
                  </ul>
                </div>  
                <span class="small text-truncate">9:00 — 18:00, ежедневно</span>
              </div>
              <div class="col col-lg-4 col-md-6 px-2 mx-md-auto col-sm-12 my-sm-4 col-xs-10 my-xs-4 col-12 my-4 text-center text-light">
                <span class="badge bg-danger rounded-circle d-flex justify-content-center align-items-center mx-auto mb-3" style="width: 50px; height: 50px;">
                  <svg class="fill-light" width="30" height="30">
                    <use xlink:href="#lego"></use>
                  </svg> 
                </span>
                <h6>Присоединяйтесь к нам</h6>
                <div class="row mt-4">
                  <a href="" class="badge bg-light rounded-circle d-flex justify-content-center align-items-center mx-auto" style="width: 42px; height: 42px;">
                    <svg class="fill-black" width="24" height="24">
                      <use xlink:href="#facebook"></use>
                    </svg> 
                  </a>
                  <a href="" class="badge bg-light rounded-circle d-flex justify-content-center align-items-center mx-auto" style="width: 42px; height: 42px;">
                    <svg class="fill-black" width="30" height="30">
                      <use xlink:href="#insta"></use>
                    </svg> 
                  </a>
                  <a href="" class="badge bg-light rounded-circle d-flex justify-content-center align-items-center mx-auto " style="width: 42px; height: 42px;">
                    <svg class="fill-black" width="30" height="30">
                      <use xlink:href="#vk"></use>
                    </svg> 
                  </a>
                </div>
              </div>
            </div>
        </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col col-lg-3 col-md-6 col-sm-6">
            <a class="navbar-brand" href="">
              <img src="img/Logo.svg" width="105" height="105" alt="BANG Toy Shop" loading="lazy">
            </a>
          </div>
          <div class="col col-lg-3 col-md-6 col-sm-6 mb-2">
            <h6 class="h-6">Полезная информация</h6>
            <ul class="list-unstyled">
                <li><a href="#" class="">Каталог товаров</a></li>
                <li><a href="#" class="link">Оплата</a></li>
                <li><a href="#" class="link">Доставка</a></li>
                <li><a href="#" class="link">Обратная связь</a></li>
                <li><a href="#" class="link">Контакты</a></li>
            </ul>
          </div>
          <div class="col col-lg-3 col-md-6 col-sm-6">
            <h6 class="h6">Популярные категории</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="">Мальчикам</a></li>
                <li><a href="#" class="link">Девочкам</a></li>
                <li><a href="#" class="link">Бренды</a></li>
                <li><a href="#" class="link">По возрасту</a></li>
                <li><a href="#" class="link">Акции</a></li>
            </ul>
          </div>
          <div class="col col-lg-3 col-md-6 col-sm-6">
            <h6 class="h-6">Покупателю</h6>
            <ul class="list-unstyled">
                <li><a href="#" class="link">Личный кабинет</a></li>
                <li><a href="#" class="link">Подобрать подарок</a></li>
                <li><a href="#" class="link">Корзина</a></li>
            </ul>
          </div>
        </div>
        <div class="small font-weight-bolder mt-4">&#169; <a href="#" class="text-black">BANG.UA</a> TOY SHOP 2018 </div>
      </div>
    </section>
</footer>