<header class="sticky-top mb-md-4">
    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
           
              <a class="navbar-brand" href="">
                <img src="img/Logo.svg" width="105" height="105" alt="BANG Toy Shop" loading="lazy">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="d-flex flex-column">
                  
                <div class="collapse navbar-collapse mb-2 " id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Каталог товаров</a>
                    <a class="nav-link" href="#">Оплата</a>
                    <a class="nav-link" href="#">Доставка</a>
                    <a class="nav-link" href="#">Контакты</a>
                  </div>
                </div>
                  
                <div class="d-flex flex-row align-items-lg-center justify-content-md-between">

                  <div class="input-group mr-3">
                    <input type="text" class="form-control px-3" placeholder="Поиск" aria-label="Search" aria-describedby="button-addon2">
                    <button class="btn btn-outline-gray-light btn-rounded px-3" type="button" id="button-addon2">
                      <svg class="fill-dark" width="16" height="16">
                        <use xlink:href="#search"></use>
                      </svg>
                    </button>
                  </div>
                  
                  <div class="dropdown">
                    <a class="btn-link dropdown-toggle text-success" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                      (067) 566-66-66
                    </a>
                      
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="tel:+380675664045" >(067) 566-66-66</a></li>
                      <li><a class="dropdown-item" href="tel:+380985664045" >(098) 566-66-66</a></li>
                      <li><a class="dropdown-item" href="tel:+380505664045" >(050) 566-66-66</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="d-flex flex-lg-column lh-lg flex-md-row justify-content-md-end">
                <button class="btn btn-link text-black mb-3" type="button" id="button-addon2">
                  <svg class="fill-black mr-1" width="18" height="18">
                    <use xlink:href="#login"></use>
                  </svg>
                  Личный кабинет
                </button>
                <div class="d-flex flex-row align-items-baseline">
                <div class="px-3">
                  <svg class="fill-success" width="20" height="20">
                    <use xlink:href="#heart"></use>
                  </svg>
                  <span class="mx-2">|</span>
                  <span class="like"> {{out}} </span>
                </div>

                <div class="ml-4">
                  <svg class="fill-black" width="20" height="20">
                    <use xlink:href="#cart"></use>
                  </svg>
                  <span class="mx-2">|</span>
                  <span class="buy"> {{b}} </span>
                </div>
                
                </div>
              </div>
      </nav>
    </div>
</header>
  